@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
	margin: 0;

	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;

	font-size: 0.8rem;
	height: 100vh;

	background-color: var(--bg);
	font-family: Fira Code;
	color: var(--fg);

	overflow: hidden;

	--bg:   #272822;
	--bg_h: #3e3d32;
	--bg_c: #75715e;
	--fg:   #f8f8f2;
	--yellow:  #e6db74;
	--orange:  #fd971f;
	--red:     #f92672;
	--magenta: #fd5ff0;
	--violet:  #ae81ff;
	--blue:    #66d9ef;
	--cyan:    #a1efe4;
	--green:   #a6e22e;
}

table {
	border-spacing: 10px 2px;
}

code {
	padding: 1px 2px;

	font-family: Fira Code;
	color: var(--fg);

	background-color: var(--bg_h);
	border-radius: 5px;
}

a, a:visited {
	color: inherit;
}

.toolbar {
	display: flex;
	flex-direction: column;
	min-width: 170px;

	background-color: #1e1f1c;
	padding: 0;

	overflow-y: auto;;
}

.toolbar a {
	font-family: Fira Code;
	text-decoration: none;

	margin-top: 5px;
	margin-left: 1.6rem;

	padding: 0 10px;
}

.toolbar a[folder][parent] {
	margin-top: 0;
	margin-left: 0;

	background-color: var(--bg_h);
	padding: 3px 10px;
}
.toolbar a[folder][parent]::before {
	content: "↳"
}

.toolbar a[folder] {
	margin-top: 0px;
	margin-left: 0;
	padding: 0 10px;
}

.toolbar a[folder]::before {
	content: "📁"
}

a[folder][parent] + a[folder]:not([parent]) {
	margin-top: 5px;
}


.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	overflow-y: auto;
}

.stash {
	max-width: 800px;
	min-width: 50%;
	margin: 15px 20px;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}


.entry {
	position: relative;
}

.entry .expander {
	display: flex;
	align-items: center;
	gap: 10px;

	user-select: none;
}
.entry .expander::before {
	content: "+";
	font-size: 1.3rem;
	margin-right: 0rem;
	cursor: pointer;
}
.entry[open] .expander::before {
	content: "-";
}

.entry .expander a {
	text-decoration: none;
}

.entry .close {
	font-size: 0.85rem;
	cursor: pointer;
}

.entry .details {
	display: none;
}
.entry[open] .details {
	display: block;
}
.entry .inline-details {
	display: none;
}
.entry[open] .inline-details {
	display: inline;
}

.entry .context {
	font-style: italic;
	display: inline-block;
}

.entry .signature {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px 0px;

	font-family: Fira Code;
	font-size: 0.8rem;
	color: var(--fg);

	background-color: var(--bg_h);
	border-radius: 5px;
}

.entry .cluster {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0;
}

.entry:not([open]) .cluster > *:nth-child(3n+4)::before {
	content: ", ";
	color: var(--fg);
}

.entry[open] .cluster {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 0 0.8em;
}
.entry[open] .cluster .indent {
	margin-left: 2rem;
	text-indent: -1rem;
}


.argument {
	color: var(--orange);
	font-style: italic;
}

.name {
	color: var(--green) !important;
	text-wrap: nowrap;
}

.type {
	color: var(--blue) !important;
	font-style: italic;
	text-wrap: nowrap;
}

.comment {
	color: var(--bg_c);
	font-style: italic;
}


#search {
	position: relative;
	padding: 0px;
	margin: 0px;

	max-width: 800px;
	width: 100%;

	display: flex;
	justify-content: center;
}

#search > * {
	display: inline-block;
	position: relative;

	padding: 0rem 10px;
	width: 300px;

	transition-property: width;
	transition-duration: .2s;
}


#search input {
	position: relative;
	inset: 0;

	padding: 0.0rem 1rem;
	margin: 0px;

	width: calc(100% - 2rem);
	height: 45px;

	background-color: transparent;
	font-size: 0.8rem;
	border: none;
	color: inherit;

	opacity: 0;
	z-index: 2;

	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: ease-out;
}

#search .placeholder {
	position: absolute;
	inset: 12px 0px 0px;

	height: 20px;
	width: 340px;

	font-weight: 100;
	text-align: center;
	font-size: 0.8rem;
	color: inherit;

	opacity: 100;
	z-index: 1;

	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: ease-out;
}

#search:focus-within > * {
	width: calc(100% - 2rem);
}
#search:focus-within input {
	opacity: 100;
}
#search:focus-within .placeholder {
	opacity: 0;
}


#search .results {
	display: none;

	position: absolute;
	top: 45px; left: 15px; right: 0;
	z-index: 20;

	padding: 10px 0px;

	flex-direction: column;

	background-color: #1e1f1c;
	filter: drop-shadow(0px 4px 4px #0002);
}

#search:focus-within .results {
	display: flex;
}

#search .result {
	text-decoration: none;
	padding: 5px 20px;
}
#search .result .comment {
	font-style: normal;
	margin-left: 0.5rem;
}
#search .result[selected] {
	background-color: var(--bg_h);
}